@model Domain.DTO.StudentOnCourseDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.StudentId, new SelectList(Model.students, "Id", "FirstName"), new{@class = "form-control"})
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.SemesterId, new SelectList(Model.semesters, "Id", "SemesterName"), new { @class = "form-control" })
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>